@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html, body{
  height: 100%;
  width: 100%;
  background-color: white;
  font-family: "Source Sans Pro", sans-serif;
}

.panel_padding{
  padding-left: 15px;
}

.allround_padding{
  padding: 15px 10px 15px 10px;
}

.popup{
  margin: 100px;
}

.navbar-default {
  background-color: #85C1E9;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background-color: #2874A6;
}

